* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* THE PROJECT CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  background-color: #3b3b98;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
}

input,
button {
  font-family: inherit;
}

h2 {
  margin: 10px 0 20px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
}

.container {
  background-color: #23235b;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 400px;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-self: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  left: 14px;
}

.btn {
  border: none;
  background-color: #3b3b98;
  color: #fff;
  font-size: inherit;
  padding: 8px 12px;
  cursor: pointer;
}

.result-container .btn {
  position: absolute;
  padding: 14px;
  top: 0;
  right: 0;
}

.btn-large {
  display: block;
  width: 100%;
}

button:focus,
input:focus {
  outline: none;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.setting:nth-of-type(1) {
  margin-top: 25px;
}

.settings:nth-last-of-type(1) {
  margin-bottom: 25px;
}

#generate {
  text-transform: uppercase;
}

#length {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  appearance: none;
}
