* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* THE PROJECT CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: turquoise;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

small {
  font-size: 1.2rem;
  margin: 10px;
}

.fa-heart {
  color: #a83f39;
}

.loveMe {
  height: 600px;
  width: 500px;
  background-image: url('https://images.unsplash.com/photo-1598471958514-1269c48efb07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  max-width: 100%;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(15);
  opacity: 1;
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }
}

button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#times {
  font-weight: bold;
}
