* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* THE PROJECT CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  background-color: #fbfcfe;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.code {
  border-radius: 5px;
  font-size: 48px;
  height: 100px;
  width: 80px;
  border: 1px solid #ccc;
  margin: 1%;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}

.code:first-child {
  margin-left: 50px;
}

.code:last-child {
  margin-right: 50px;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }
  .code {
    font-size: 32px;
    height: 60px;
    max-width: 40px;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0 10px;
}
