* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* THE PROJECT CSS */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2c3e50;
}

button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

select {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #a7c5e3;
  appearance: none;
}

select:focus {
  outline: none;
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

.container {
  background-color: #34495e;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin: 0 0 40px;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  margin: 10px;
}

input {
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  padding: 12px 20px;
  margin: 20px;
}

input:focus {
  outline: none;
}

.score-container {
  position: absolute;
  top: 70px;
  right: 12px;
}

.time-container {
  position: absolute;
  top: 70px;
  left: 12px;
}

.end-game-container {
  background-color: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.end-game-container button {
  color: #fff;
  margin: 25px;
  font-weight: bold;
}
